---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: Caddy
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource.tf") }}

{{ .SchemaMarkdown | trimspace }}

## Import

In Terraform v1.5.0 and later, use an [`import` block](https://developer.hashicorp.com/terraform/language/import) to import {{.Name}} using the fixed ID `caddy_settings`.

```terraform
import {
  to = {{.Name}}.example
  id = "caddy_settings"
}
```

Using `terraform import`:

```console
% terraform import {{.Name}}.example caddy_settings
```
